body{
	background-color: #565252;
	color: #c30a0a;
	text-shadow: 1px 1px black;
}
a{
	color: #880000;
	text-shadow: 1px 1px black;
}
a:hover{
	color: red;
	text-decoration: none;
	text-shadow: 1px 1px black;
}

.genre{
	width: 90%;
}

.genre img{
	height: 300px;
	width: 400px;
}
.genre h3{
	text-align: center;
}

#movieList{
	width: 90%;
}